@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
      width: 5px;
    }
  
    .custom-scrollbar::-webkit-scrollbar-track {
      background: transparent;
    }
  
    .custom-scrollbar::-webkit-scrollbar-thumb {
      background-color: #ea580c;
      border-radius: 10px;
    }
  }

  html.has-scroll-init .c-scrollbar {
    z-index: 100 !important;
  }
  
  